<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Logovanje</title>
</head>
<body>
	<form action="" name="user"  method="post">
	 	 <input type="text" name="username" id="username" class="form-control username" placeholder="Username"
	               required autofocus>
	     <input type="password" name="password" id="password" class="form-control pass" placeholder="Password"
	               required>
	     <button class="btn btn-lg btn-primary btn-block" type="submit"> Log in </button>
    </form>
</body>
</html>