<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
            <form action="" name="user" method="post">
            
               <div class="form-group form-group-lg">
                  <input type="text" name="imePrezime" id="imePrezime" placeholder="ImePrezime"  value = "{{imePrezime}}" />
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="username" id="username" placeholder="Username" value = "{{username}}"  />
               </div>
               <div class="form-group form-group-lg">
                  <input type="password" name="password" id="password" placeholder="Password" value = "{{password}}" />
               </div>
               <div class="form-group form-group-lg">
                  <input type="text" name="email" id="email" placeholder="Email" value = "{{email}}"/>
               </div>
               <button type="submit">Registruj se</button>
            </form>
            Ukoliko vec imate nalog, ulogujte se -> <a href="/login">here</a>
</body>
</html>